#car {
    position: absolute;
    width: 100px;
    height: 100px;
    perspective: 300px;
}

#coupe {
    position: relative;
    transform-style: preserve-3d;
}

#side {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(90deg) rotateX(0deg);
    transition: transform 0.5s ease;
}

#back,
#left,
#front,
#top,
#bottom,
#frontBumper,
#leftFender,
#rightFender,
#hood {
    position: absolute;
    background-color: #2e2e2e;
    opacity: 1;
}

#bottom,
#hood,
#frontBumper,
#left,
#front,
#back {
    border: 1px solid #777;
}

#leftFender,
#rightFender {
    border-left: none;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
}

#right,
#rearWindow {
    width: 100px;
    height: 50px;
    position: absolute;
    background-color: white;
    opacity: 0.4;
}

.headlightsFront {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px #FF8C00, 0 0 5px #FF4500, 0 0 5px #FF6347;
}

.headlightsBack {
    width: 10px;
    height: 20px;
    position: absolute;
    background-color: red;
    box-shadow: 0 0 5px red, 0 0 5px darkred, 0 0 5px #FF6347;
}

#left {
    width: 100px;
    height: 50px;
}

#front,
#back,
#top {
    width: 150px;
    height: 100px;
}

#bottom {
    height: 100px;
    width: 250px;
}

#rightFender,
#leftFender,
#frontBumper {
    height: 50px;
    width: 100px;
}

#front {
    transform: translateZ(50px);
}


#frontBumper {
    transform: rotateY(90deg) translateZ(200px) translateY(50px);
}

#headlightsFront1 {
    transform: rotateY(90deg) translateZ(245px) translateY(55px) translateX(30px);
}

#headlightsFront2 {
    transform: rotateY(90deg) translateZ(245px) translateY(55px) translateX(-30px);
}

#hood {
    width: 100px;
    height: 100px;
    transform: rotateY(0deg) rotateX(90deg) translateZ(0px) translateX(150px);
}

#rightFender {
    transform: rotateY(0deg) rotateX(180deg) translateZ(50px) translateY(-50px) translateX(150px);
}

#leftFender {
    transform: rotateY(0deg) rotateX(180deg) translateZ(-50px) translateY(-50px) translateX(150px);
}

#back {
    transform: rotateY(180deg) translateZ(50px);
}

#left {
    transform: rotateY(-90deg) translateZ(50px) translateY(50px);
}

#headlightsBack1 {
    transform: rotateY(-90deg) translateZ(12px) translateY(55px) translateX(30px);
}

#headlightsBack2 {
    transform: rotateY(-90deg) translateZ(12px) translateY(55px) translateX(-30px);
}

#rearWindow {
    transform: rotateY(90deg) translateZ(-50px);
}

#right {
    transform: rotateY(90deg) translateZ(100px);
}

#top {
    transform: rotateX(90deg) translateZ(50px);
}

#bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.wheel {
    position: absolute;
    width: 40px;
    height: 40px;
    transform-style: preserve-3d;
}

.spinner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(black, grey);
    border: 6px solid black;
    animation: spinning 0.1s linear infinite;
    transform-style: preserve-3d;
    position: relative;
}

.wheel-side {
    position: absolute;
    width: 10px;
    height: 45px;
    transform-style: preserve-3d;
    left: 15px;
}

.wheel-segment {
    position: absolute;
    width: 10px;
    height: 100%;
    border-radius: 2px;
    background-color: black;
    transform-origin: 5px 50%;
}

.segment-1 {
    transform: rotateY(0deg);
}

.segment-2 {
    transform: rotateY(30deg);
}

.segment-3 {
    transform: rotateY(60deg);
}

.segment-4 {
    transform: rotateY(90deg);
}

.segment-5 {
    transform: rotateY(120deg);
}

.segment-6 {
    transform: rotateY(150deg);
}

.segment-7 {
    transform: rotateY(180deg);
}

.segment-8 {
    transform: rotateY(210deg);
}

.segment-9 {
    transform: rotateY(240deg);
}

.segment-10 {
    transform: rotateY(270deg);
}

.segment-11 {
    transform: rotateY(300deg);
}

.segment-12 {
    transform: rotateY(330deg);
}

#frontRight {
    transform: translate3d(200px, 80px, 50px);
}

#frontLeft {
    transform: translate3d(200px, 80px, -50px);
}

#backRight {
    transform: translate3d(10px, 80px, 50px);
}

#backLeft {
    transform: translate3d(10px, 80px, -50px);
}

@keyframes spinning {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}