body,
html {
    perspective: 1000px;
    background-color: #121212;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.button {
    font-size: xx-large;
    color: white;
    margin-top: 10px;
    background-color: #2e2e2e;
}

#colormodal {
    display: flex;
    align-items: center;
    position: absolute;
    background: #2e2e2e;
    padding: 10px;
    border: 1px solid #ccc;
    opacity: 0;
    bottom: 0;
}

#close {
    background-color: none;
    border: none;
}

.color {
    width: 100px;
    height: 100px;
}

.color:nth-child(1) {
    background-color: #2e2e2e;
}

.color:nth-child(2) {
    background-color: red;
}

.color:nth-child(3) {
    background-color: green;
}

.color:nth-child(4) {
    background-color: blue;
}

.color:nth-child(5) {
    background-color: black;
}

.color:nth-child(6) {
    background-color: white;
}

.color:nth-child(7) {
    background-color: 	#5C4033;
}

.color:nth-child(8) {
    background-color: yellow;
}

.color:nth-child(9) {
    background-color: orange;
}

.color:nth-child(10) {
    background-color: purple;
}

#scoreModal {
    z-index: 15000;
    position: fixed;
    display: none;
    background-color: #2E2E2E;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    height: auto;
    width: 40vw;
    padding: 2vh;
    top: 45%;
    left: 30%;
    text-align: center;
    box-shadow: 0 0 20px grey, 0 0 35px black;
}